{% extends "home/home.html" %}

{% block content %}
    <br>

    <div>
    <div style="display:inline-block;margin-left: 40px;width: 40%">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">信访大数据</h3>
            </div>
            <div class="panel-body">
                &nbsp&nbsp&nbsp&nbsp 近期，最高人民法院院长周强见出席第三届世界互联网大会智慧法院暨网络法治论坛客人时指出，在全球信息化深入发展的大背景下，世界各国法院都在努力推动信息技术在法院工作中的应用。如何与时俱进，摸准时代的脉搏，搭上人工智能的快车，这是智慧型法院建设需要思考的问题。如何借助信访大数据将信访工作引领上快车道，并借助人工智能推动信访工作变革，这是新时期信访工作面临的重大课题。
            </div>
        </div>

    </div>
    <div style="display:inline-block;margin-left:50px;width: 40%">

        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner" style="height: 180px">
                <div class="item active">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1567740597325&di=156787e1068eede445d7fd01f97d8c73&imgtype=0&src=http%3A%2F%2Fmmbiz.qpic.cn%2Fmmbiz_png%2F1XJXhZlgHicKa7FDx0sJgB160nlqKQ3UwibKo97NiatY5kSJWSibYd8EXtESTWdWQ4dWOvO0fWKnXAZQDHWBPZDO9A%2F640%3Fwx_fmt%3Dpng" alt="First slide">
                </div>
                <div class="item">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1567740611186&di=10a2e87cec3041dd035491fa6ebfe83b&imgtype=jpg&src=http%3A%2F%2Fimg1.imgtn.bdimg.com%2Fit%2Fu%3D1807829386%2C1106980828%26fm%3D214%26gp%3D0.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1567740597323&di=7450fc47ae9ee923e0084ea47f8fd2d3&imgtype=0&src=http%3A%2F%2Fhz.southcn.com%2Fh%2Fimages%2Fattachement%2Fjpg%2Fsite4%2F20160531%2F14cf92ab737218b7387301.jpg" alt="Third slide">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <div style="margin-top: 10px">

        <img src="http://xfb.beijing.gov.cn/ztzl/bwcxljsm/images/P020190620536324508400.png" class="img-rounded">
        <img style="margin-left:130px " src="http://xfb.beijing.gov.cn/ztzl/shce/images/P020190423409354871557.png"
             class="img-rounded">
        <img style="margin-left:130px"
             src="http://xfb.beijing.gov.cn/ztzl/xxxcgcddsjdjs/images/P020190408359568720351.png" class="img-rounded">
        <br><br>

        <img src="http://xfb.beijing.gov.cn/ztzl/yrmwzx/images/P020190408357023502461.png" class="img-rounded">
        <img style="margin-left:130px " src="http://xfb.beijing.gov.cn/ztzl/jgxsd/images/P020190408356899210275.png"
             class="img-rounded">
        <img style="margin-left:130px"
             src="http://xfb.beijing.gov.cn/ztzl/dili40year/images/P020190408356714483365.png" class="img-rounded">
        <br><br>

    </div>
{% endblock %}
