{% extends "home/home.html" %}
{% block username %}
    {{ name }}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{{ url_for('home.fav') }}">我喜欢的音乐</a></li>
        <li><a href="{{ url_for('home.mybuy') }}">已购买</a></li>
        <li class="active"><a href="{{ url_for('home.pop') }}">Pop榜</a></li>
        <li><a href="{{ url_for('home.jazz') }}">Jazz榜</a></li>
        <li><a href="{{ url_for('home.rb') }}">R&B榜</a></li>
        <li><a href="{{ url_for('home.cla') }}">Classical榜</a></li>
        <li><a href="{{ url_for('home.folk') }}">Folk榜</a></li>
    </ul>


    <div class="col-md-12">
        <div class="row wow fadeIn" data-wow-delay="0.2s">
            {% for v in page_data %}
                <div class="media">
                    <div class="media-left" style="width: 5000px;margin-right: 400px">
                        {#                    <a href="{{ url_for('home.play',id=v.music_id) }}">#}
                        <h4>{{ v.accuseArea }}</h4>
                        {#                    </a>#}
                    </div>
                    <div class="media-body" style="margin-left: auto">
                        <h5 class="media-heading">上传时间： {{ v.date }}<a href="{{ url_for('home.msg',id=v.letter_id) }}"
                                                                       class="label label-primary pull-right"><span
                                class="glyphicon glyphicon-paperclip"></span>&nbsp;查看原文</a></h5>
                        <h5 class="media-heading">收信地址：{{ v.accuseArea }}<a
                                href="{{ url_for('home.msg',id=v.letter_id)}}"
                                class="label label-primary pull-right"><span
                                class="glyphicon glyphicon-star"></span>&nbsp;更改标签</a></h5>
                        <h5 class="media-heading">信件标签：{{ v.get_tag() }}</h5>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}