{% extends "home/home.html" %}s

{% block username %}
    {{ name }}
{% endblock %}

{% block content %}


    <h1>
{#        <span class="glyphicon glyphicon-flag" style="color: rgb(249,0,15)"></span>&nbsp#}
        管理员：{{ name }}，欢迎回来
    </h1>
    <br>
    <div style="margin-top: 10px">
        <h3>上传信访记录</h3>
        <hr>
        <div class="app">
            {% for msg in get_flashed_messages(category_filter=["acc"]) %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                    </button>
                    {{ msg }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div style="display:inline-block;margin-left: 40px">
            <form method=post style="display:inline-block" action="http://localhost:5000/uploade"
                  enctype=multipart/form-data>
                <img src="{{ url_for('static',filename='base/images/th.png') }}" style="height:60px;" alt="icon">
                <h6>请选择*.xls格式文件上传。文档A列为受理地址，B列为信访内容</h6>
                <br>
                <input type=file name=file>
                <br>
                <input data-toggle="modal" data-target="#excel" type=submit value="   上传    ">
            </form>
        </div>

        <div style="display:inline-block;margin-left:50px;">


            <form method=post action="http://localhost:5000/uploadp" enctype=multipart/form-data>
                <img src="{{ url_for('static',filename='base/images/ca10.png') }}" style="height:55px;" alt="icon">
                <h6>请选择*.png格式的图片进行上传,要求图片清晰</h6>
                <br>
                <input type=file name=file>
                <br>
                <input data-toggle="modal" data-target="#picalarm" type=submit value="   上传    ">
            </form>
        </div>
    </div>





    <!--弹窗 start -->
    <div class="modal" id="picalarm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    请勿关闭页面
                </div>

                <div class="modal-body">
                    正在识别图片，请耐心等待......
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="excel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    请勿关闭页面
                </div>
                <div class="modal-body">
                    正在对Excel进行识别，请耐心等待......
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--弹窗 end -->

{% endblock %}
