{% extends "home/home.html" %}

{% block username %}
    {{ name }}
{% endblock %}
{% block content %}



    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script src="{{ url_for('static',filename='base/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='base/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='base/js/jquery.singlePageNav.min.js') }}"></script>
    <script src="{{ url_for('static',filename='base/js/wow.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lazyload/jquery.lazyload.min.js') }}"></script>




    <style type="text/css">

        .menu {
            font-size: 0;
            padding: 0;
            height: 50px;
            position: relative;
        }

        .menubar {
            margin: 0 auto;
            position: absolute;
            list-style-type: none;
            width: 100%;
            overflow-y: auto;
        }

        .menubar li {
            padding: 0px 5px;
            display: inline-block;
            cursor: pointer;
            line-height: 50px;
        }

        .menubar li:hover {
            background-color: #F5F5F5;
        }

        .menubar li.menu-value {
            outline-color: #0c0c0c;
        }

        .menubar a {
            display: block;
            height: 50px;
            font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "宋体";
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            color: #0095bb;
        }

    </style>


    <br>
    {% include "home/bar.html" %}

    <div class="menu">
        <ul class="menubar">
            <li class="menu-value"><a href="{{ url_for('home.piechart') }}">山西省地区问题占比</a></li>
            <li class=""><a href="{{ url_for('home.chart') }}">山西信访数量趋势图</a></li>
        </ul>

    </div>


    <div id="line" style="width:1000px; height:600px;"></div>
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('line'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
                    url: "http://localhost:5000/getmonthlineChart/?moon={{ moon }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>
     <a href="javascript:history.go(-1);" class="btn btn-primary"
       role="button"><span class="glyphicon glyphicon-menu-left"></span>&nbsp;返回</a>


{% endblock %}