{% extends "home/home.html" %}

{% block username %}
    {{ name }}
{% endblock %}
{% block content %}

    <style type="text/css">

        .menu {
            font-size: 0;
            padding: 0;
            height: 50px;
            position: relative;
        }

        .menubar {
            margin: 0 auto;
            position: absolute;
            list-style-type: none;
            width: 100%;
            overflow-y: auto;
        }

        .menubar li {
            padding: 0px 5px;
            display: inline-block;
            cursor: pointer;
            line-height: 50px;
        }

        .menubar li:hover {
            background-color: #F5F5F5;
        }

        .menubar li.menu-value {
            outline-color: #0c0c0c;
        }

        .menubar a {
            display: block;
            height: 50px;
            font-family: "微软雅黑", "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, "宋体";
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            color: #0095bb;
        }

    </style>


<br>
    {% include "home/bar.html" %}

<div class="menu">
	<ul class="menubar">
		<li class="menu-value" ><a href="{{ url_for('home.piechart',key=1) }}">山西省地区问题占比</a></li>
		<li class="" ><a href="{{ url_for('home.line_chart',key=1) }}">山西信访数量趋势图</a></li>
	</ul>
</div>
<div>

        <div>
            <div id="line" style="width:1000px; height:600px;"></div>
            <script>
                $(
                    function () {
                        var chart = echarts.init(document.getElementById('line'), 'white', {renderer: 'canvas'});
                        $.ajax({
                            type: "GET",
                            url: "http://localhost:5000/getlineChart",
                            dataType: 'json',
                            success: function (result) {
                                chart.setOption(result);
                            }
                        });
                        chart.on('click', function (param) {
                            var name = param.name;
                            if (name == "1月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=1) }}";
                            } else if (name == "2月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=2) }}";
                            } else if (name == "3月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=3) }}";
                            } else if (name == "4月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=4) }}";
                            } else if (name == "5月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=5) }}";
                            } else if (name == "6月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=6) }}";
                            } else if (name == "7月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=7) }}";
                            } else if (name == "8月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=8) }}";
                            } else if (name == "9月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=9) }}";
                            } else if (name == "10月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=10) }}";
                            } else if (name == "11月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=11) }}";
                            } else if (name == "12月") {
                                window.location.href = "{{url_for('home.month_line_chart', moon=12) }}";
                            }
                        });
                        chart.on('click', eConsole);
                    }
                )
            </script>
        </div>
    </div>

{% endblock %}